<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
</head>
<body>
<h1>Board List</h1>
<table>
    <thead>
    <tr>
        <th>Seq</th>
        <th>Title</th>
        <th>Content</th>
        <th>Author ID</th>
        <th>Create Date</th>
        <th>Update Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="boardList : ${boardList}">
        <td th:text="${boardList.seq}"></td>
        <td th:text="${boardList.title}"></td>
        <td th:text="${boardList.content}"></td>
        <td th:text="${boardList.authorId}"></td>
        <td th:text="${boardList.create_dt}"></td>
        <td th:text="${boardList.update_dt}"></td>

    </tr>
    </tbody>
</table>
<a href="/board/add">Add Board</a>
</body>
</html>