<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
<h1>회원가입</h1>
<form action="">
    <table>
        <tr>
            <th>이름</th>
            <td>
                <div>
                    <input type="text" id="username" placeholder="이름">
                </div>
            </td>
        </tr>
        <tr>
            <th>이메일</th>
            <td>
                <div>
                    <input type="email" id="email" placeholder="이메일">
                </div>
            </td>
        </tr>

        <tr>
            <th>아이디</th>
            <td>
                <div>
                    <input placeholder="아이디" type="text" id="user_id">
                </div>
            </td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td>
                <div>
                    <input type="password" id="password" placeholder="비밀번호">
                </div>
            </td>
        </tr>
        <tr>
            <th>비밀번호 확인</th>
            <td>
                <div>
                    <input type="password" id="password_check" placeholder="비밀번호 확인">
                </div>
            </td>
        </tr>
    </table>
    <div>
        <button type="button" id="signupBtn">회원가입</button>
    </div>
</form>
<button href="/user/login">로그인</button>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    const $dom = {};
    let num = "";

    $(function () {
        $dom.signupBtn = $("#signupBtn");
        $dom.username = $("#username").val();
        $dom.user_id = $("#user_id").val();
        $dom.email = $("#email").val();
        $dom.password = $("#password").val();
        $dom.password = $("#password_check").val();

        $dom.signupBtn.on('click', function () {
            console.log($("#username").val());
            console.log($("#email").val());
            console.log($("#user_id").val());
            console.log($("#password").val());
            console.log($("#password_check").val());

            console.log($dom);
            if($("#username").val() == "") {
                alert("이름을 입력해주세요");
                return;
            }
            if($("#email").val() == "") {
                alert("이메일을 입력해주세요");
                return;
            }
            if($("#user_id").val()=="") {
                alert("아이디를 입력해주세요");
                return;
            }
            if($("#password").val() != $("#password_check").val()) {
                alert("비밀번호가 일치하지 않습니다.");
                return;
            }
            if(confirm("가입하시겠습니까")) {
                $.ajax({
                    url:"/user/signup",
                    type : "post",
                    contentType: "application/json",  // 추가된 부분
                    data : JSON.stringify({          // JSON으로 변환
                        username : $("#username").val(),
                        user_id : $("#user_id").val(),
                        password : $("#password").val(),
                        email : $("#email").val()
                    }),
                    success : function(response) {
                        alert("회원가입이 완료되었습니다.");
                        window.location.href = "/user/login"; // 회원가입 성공 후 로그인 페이지로 리디렉션
                    },
                    error: function(xhr, status, error) {
                        alert("회원가입 중 오류가 발생했습니다: " + xhr.responseText);
                    }
                });
            }
        })

    })
</script>
</html>